In [1]:
import pandas as pd

In [18]:
jobs = pd.read_csv("../data/fullsample.csv")
jobs.head(10)

,JOBID,STATE,BEGIN,END,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,30616928,RUNNING,2021-07-31T22:15:00,Unknown,2048Mn,0,10:04:00,67-22:14:22,1,1,production,0:0
1,30853133,COMPLETED,2021-08-06T11:36:09,2021-09-05T11:36:32,262144Mn,20604.62M,30-00:00:00,30-00:00:23,1,1,cgw-platypus,0:0
2,30858137,COMPLETED,2021-08-06T19:04:39,2021-09-05T19:04:53,204800Mn,57553.77M,30-00:00:00,30-00:00:14,1,32,cgw-tbi01,0:0
3,30935078,COMPLETED,2021-08-09T16:52:51,2021-09-07T20:52:55,65536Mn,20577.96M,29-04:00:00,29-04:00:04,1,8,cgw-platypus,0:0
4,31364111_2,COMPLETED,2021-08-17T07:45:07,2021-09-10T16:45:24,16384Mn,9733.43M,24-09:00:00,24-09:00:17,1,1,production,0:0
5,31364111_3,COMPLETED,2021-08-17T07:45:07,2021-09-06T16:17:34,16384Mn,9708.04M,24-09:00:00,20-08:32:27,1,1,production,0:0
6,31364111_4,COMPLETED,2021-08-17T07:45:07,2021-09-06T06:25:11,16384Mn,9785.61M,24-09:00:00,19-22:40:04,1,1,production,0:0
7,31364111_5,COMPLETED,2021-08-17T07:45:07,2021-09-06T10:05:33,16384Mn,9966.38M,24-09:00:00,20-02:20:26,1,1,production,0:0
8,31364111_6,COMPLETED,2021-08-17T07:45:07,2021-09-05T12:53:04,16384Mn,9684.02M,24-09:00:00,19-05:07:57,1,1,production,0:0
9,31364111_9,COMPLETED,2021-08-17T07:45:07,2021-09-06T09:10:13,16384Mn,9802.24M,24-09:00:00,20-01:25:06,1,1,production,0:0

In [3]:
# jobs[jobs['JOBID'] == '24996206']
# trying to see if jobs in the log were in the csv. found that some are and some arent

In [4]:
ce5 = pd.read_csv('../data/slurm_wrapper_ce5.log',
                  header=None,
                  delimiter=' - ',
                  engine='python')

ce5.head()

,0,1,2,3,4,5
0,2020-10-16 08:15:39.278699,user 0,retry 0,time 0.07347559928894043,returncode 0,"command ['/usr/bin/sacct', '-u', 'appelte1', '..."
1,2020-10-16 08:18:08.313309,user 0,retry 0,time 0.18363237380981445,returncode 0,"command ['/usr/bin/sacct', '-u', 'appelte1', '..."
2,2020-10-16 08:22:48.128689,user 0,retry 0,time 0.07547116279602051,returncode 0,"command ['/usr/bin/sacct', '-u', 'appelte1', '..."
3,2020-10-16 08:25:13.257408,user 0,retry 0,time 0.09484362602233887,returncode 0,"command ['/usr/bin/sacct', '-u', 'appelte1', '..."
4,2020-10-16 08:31:01.460723,user 0,retry 0,time 0.07498788833618164,returncode 0,"command ['/usr/bin/sacct', '-u', 'appelte1', '..."

In [5]:
ce6 = pd.read_csv('../data/slurm_wrapper_ce6.log',
                  header=None,
                  delimiter=' - ',
                  engine='python')

ce6.head()

,0,1,2,3,4,5
0,2020-10-16 10:37:44.163454,user 9202,retry 0,time 0.08495402336120605,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
1,2020-10-16 10:37:44.206654,user 9202,retry 0,time 0.08943057060241699,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
2,2020-10-16 10:37:44.218760,user 9202,retry 0,time 0.05928945541381836,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
3,2020-10-16 10:37:44.256403,user 9202,retry 0,time 0.038695573806762695,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
4,2020-10-16 10:37:44.611603,user 9202,retry 0,time 0.03343677520751953,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."

In [6]:
ce6['sbatch'] = ce6[5].apply(lambda x: 1 if 'sbatch' in x else 0)
ce5['sbatch'] = ce5[5].apply(lambda x: 1 if 'sbatch' in x else 0)
# flagging rows where sbatch is in column 5

In [7]:
ce5[ce5[1].str.contains('user 9204', case=False, na=False) & 
                 ce5[4].str.contains('returncode 1', case=False, na=False)]

,0,1,2,3,4,5,sbatch
564,2020-10-16 08:59:38.926896,user 9204,retry 0,time 0.1231698989868164,returncode 1,"command ['/usr/bin/scontrol', 'show', 'job', '...",0
565,2020-10-16 08:59:38.986336,user 9204,retry 1,time 0.05905652046203613,returncode 1,"command ['/usr/bin/scontrol', 'show', 'job', '...",0
566,2020-10-16 08:59:39.133897,user 9204,retry 2,time 0.1472628116607666,returncode 1,"command ['/usr/bin/scontrol', 'show', 'job', '...",0
683,2020-10-16 09:11:17.798315,user 9204,retry 0,time 0.02103400230407715,returncode 1,"command ['/usr/bin/scontrol', 'show', 'job', '...",0
684,2020-10-16 09:11:17.817819,user 9204,retry 1,time 0.019124746322631836,returncode 1,"command ['/usr/bin/scontrol', 'show', 'job', '...",0
...,...,...,...,...,...,...,...
4729891,2021-10-02 16:01:42.684681,user 9204,retry 0,time 21.28179407119751,returncode 1,"command ['/usr/bin/squeue', '-o', '%i %T', '-u...",0
4730187,2021-10-02 16:34:51.632533,user 9204,retry 0,time 20.060213804244995,returncode 1,"command ['/usr/bin/squeue', '-o', '%i %T', '-u...",0
4730701,2021-10-02 17:33:19.126956,user 9204,retry 0,time 20.50884461402893,returncode 1,"command ['/usr/bin/squeue', '-o', '%i %T', '-j...",0
4730705,2021-10-02 17:33:39.156362,user 9204,retry 1,time 20.028889894485474,returncode 1,"command ['/usr/bin/squeue', '-o', '%i %T', '-j...",0
4731181,2021-10-02 18:29:08.267199,user 9204,retry 0,time 20.04314613342285,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1

In [8]:
ce6[ce6[1].str.contains('user 9204', case=False, na=False) & 
                 ce6[4].str.contains('returncode 1', case=False, na=False)]

,0,1,2,3,4,5,sbatch
1134,2020-10-16 11:56:04.978704,user 9204,retry 0,time 0.231248140335083,returncode 1,"command ['/usr/bin/scontrol', 'show', 'job', '...",0
1135,2020-10-16 11:56:04.999869,user 9204,retry 1,time 0.020711183547973633,returncode 1,"command ['/usr/bin/scontrol', 'show', 'job', '...",0
1136,2020-10-16 11:56:05.019079,user 9204,retry 2,time 0.018897533416748047,returncode 1,"command ['/usr/bin/scontrol', 'show', 'job', '...",0
10335,2020-10-16 22:16:06.507040,user 9204,retry 0,time 20.018826723098755,returncode 1,"command ['/usr/bin/scontrol', 'show', 'job']",0
10337,2020-10-16 22:16:26.548379,user 9204,retry 1,time 20.04087209701538,returncode 1,"command ['/usr/bin/scontrol', 'show', 'job']",0
...,...,...,...,...,...,...,...
4736644,2021-10-02 17:58:37.495144,user 9204,retry 0,time 20.930217266082764,returncode 1,"command ['/usr/bin/squeue', '-o', '%i %T', '-u...",0
4737328,2021-10-02 19:35:14.969204,user 9204,retry 0,time 20.08076572418213,returncode 1,"command ['/usr/bin/squeue', '-o', '%i %T', '-u...",0
4737331,2021-10-02 19:35:37.928916,user 9204,retry 0,time 20.04522681236267,returncode 1,"command ['/usr/bin/squeue', '-o', '%i %T', '-j...",0
4737332,2021-10-02 19:35:39.720073,user 9204,retry 1,time 1.790639877319336,returncode 1,"command ['/usr/bin/squeue', '-o', '%i %T', '-j...",0
4766868,2021-10-06 15:39:20.269943,user 9204,retry 0,time 19.047096729278564,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1

In [9]:
ce6[3] = ce6[3].str.replace('time ', '').astype(float)
ce5[3] = ce5[3].str.replace('time ', '').astype(float)
# cleaning string and converting to float

In [10]:
ce6[(ce6['sbatch'] == 1) & (ce6[1] == 'user 9204') & (ce6[4] == 'returncode 1') & (ce6[3] >= 15)].sort_values(by = [0])

,0,1,2,3,4,5,sbatch
36913,2020-10-18 06:16:25.392946,user 9204,retry 0,20.037672,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
37605,2020-10-18 06:38:44.172473,user 9204,retry 0,20.038736,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
39075,2020-10-18 07:47:32.241050,user 9204,retry 0,20.018348,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
39356,2020-10-18 08:08:49.366063,user 9204,retry 0,20.030497,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
40072,2020-10-18 08:57:22.419398,user 9204,retry 0,20.038508,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
...,...,...,...,...,...,...,...
4652495,2021-09-24 05:11:41.508319,user 9204,retry 0,20.046733,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
4653887,2021-09-24 05:59:48.814767,user 9204,retry 0,20.045359,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
4660350,2021-09-24 10:26:43.208762,user 9204,retry 0,20.026630,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
4662752,2021-09-24 13:29:48.498748,user 9204,retry 0,20.085085,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
4766868,2021-10-06 15:39:20.269943,user 9204,retry 0,19.047097,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1

In [11]:
ce5[(ce5['sbatch'] == 1) & (ce5[1] == 'user 9204') & (ce5[4] == 'returncode 1') & (ce5[3] >= 15)].sort_values(by = [0])

,0,1,2,3,4,5,sbatch
49958,2020-10-18 06:53:44.272915,user 9204,retry 0,20.038464,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
49972,2020-10-18 06:54:04.322412,user 9204,retry 1,20.048906,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
50467,2020-10-18 07:47:25.825172,user 9204,retry 0,20.082628,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
50473,2020-10-18 07:47:45.871008,user 9204,retry 1,20.045221,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
50582,2020-10-18 07:53:33.972840,user 9204,retry 0,20.041486,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
...,...,...,...,...,...,...,...
4657074,2021-09-24 13:13:11.616619,user 9204,retry 0,20.031287,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
4661025,2021-09-24 18:14:35.862916,user 9204,retry 0,20.041436,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
4661384,2021-09-24 19:13:14.894282,user 9204,retry 0,20.051321,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
4726331,2021-10-02 08:14:16.557499,user 9204,retry 0,19.083227,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1
4731181,2021-10-02 18:29:08.267199,user 9204,retry 0,20.043146,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",1

In [ ]:
def df_to_datelist(df):
    df[3] = df[3].str.replace('time ', '')
    df[3] = df[3].astype(float)
    df = df[df[1] == 'user 9204']
    df = df[df[3] >= 15]
    df = df[df[4] == "returncode 1"]
    df['sbatch'] = df[5].apply(lambda x: 1 if 'sbatch' in x else 0)
    df = df[df['sbatch'] == 1]
    df[0] = pd.to_datetime(df[0])
    return df

# function to not have to convert all individually